@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd-ExtrathinItalic";
  src: url("/fonts/AvertaStd-ExtrathinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd-Extrathin";
  src: url("/fonts/AvertaStd-Extrathin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd-RegularItalic";
  src: url("/fonts/AvertaStd-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: AvertaStd, sans-serif;
}
